{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <h3>My lists</h3>
        <div id="container">
            <ol>
                {% for list in lists %}
                    <li>{{ list.name }}
                        <button>
                            <a href="{{ path('to_do_list_update', {'id': list.id}) }}">Update list name</a>
                            <span id="messageError"></span>
                        </button>
                        <button>
                            <a class="toDoListDeleteButton" href="{{ path('to_do_list_delete', {'id': list.id}) }}">Remove
                                list</a>
                        </button>
                        <button>
                            <a class="viewListButton" href="{{ path('tasks', {'listId': list.id}) }}">View
                                list tasks</a>
                        </button>
                        <ul>
                            <li> <span>Created At: </span> {{list.createdAt|date("m/d/Y")}} </li>
                            <li> <span>Number of tasks: </span> {{list.tasks|length}} </li>
                            <li> <span>Number of finished tasks: </span> {{list.countFinished}} </li>
                            <li> <span>Finished (%): </span> {{list.percentageDone}} % </li>
                        </ul>
                    </li>
                {% else %}
                    You don't have any lists yet.
                {% endfor %}
            </ol>
        </div>

        <div id="container">
            <button><a href="{{ path('to_do_list_add') }}">Add new list</a></button>
            <br><p>Order by:</p>
            <button><a href="{{ path('to_do_lists',{'orderBy':'name'}) }}">Name</a></button>
            <button><a href="{{ path('to_do_lists',{'orderBy':'createdAt'}) }}">Date of creation</a></button>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            function deleteList() {
//              Ako se nesto selektira po klasi ide točka prije imena klase, a po id-u ide hešteg
//              Nu primjer tu ispod odmah.
                var $toDoListButton = $('.toDoListDeleteButton');
                $toDoListButton.on('click', function (event) {
                    event.preventDefault();
//                    $(this) - referenca na trenutno kliknuti botun
                    var url = $(this).attr('href');
                    var $button = $(this);
                    $.ajax({
                        url: url,
                        success: function (response) {
//                            parent() - prvi roditelj trenutnog html elementa
//                            ako pozovem dva puta parent() onda idem <a href> -> <button> -> <li>
                            $button.parent().parent().remove();
                        },
                        error: function (response) {
                            $button.parent().find('span').html(response.message);
                        }
                    });
                })
            }

            deleteList();
        });

    </script>

{% endblock %}
