{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <h3>Tasks in list {{list.name}}</h3>
        <div id="container">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <button><a href="{{  path('tasks', {'listId' : list.id}) }}">Cancel</a></button>
    </div>
{% endblock %}