{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <h3>Tasks in list {{ list.name }}</h3>
        <div id="container">
            <ol>
                {% for task in list.getTasks %}
                <li>{{ task.name }}
                    <button>
                        <a href="{{ path('task_update', {'id': task.id}) }}">Update task</a>
                        <span id="messageError"></span>
                    </button>
                    <button>
                        <a class="taskDeleteButton" href="{{ path('task_delete', {'id': task.id}) }}">Remove
                            task</a>
                    </button>
                    <ul>
                        <li> <span>Priority: </span>{{ task.getPriorityString }} </li>
                        <li> <span>Deadline: </span>{{ task.deadline|date("m/d/Y") }} </li>
                    </ul>
                </li>
                {% else %}
                    You don't have any tasks yet.
                {% endfor %}
            </ol>
        </div>

        <div id="container">
            <button><a href="{{ path('task_add', {'listId' : list.id}) }}">Add new task</a></button>
            <button><a href="{{  path('to_do_lists') }}">Go back</a></button>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            function deleteTask() {
//              Ako se nesto selektira po klasi ide točka prije imena klase, a po id-u ide hešteg
//              Nu primjer tu ispod odmah.
                var $taskButton = $('.taskDeleteButton');
                $taskButton.on('click', function (event) {
                    event.preventDefault();
//                    $(this) - referenca na trenutno kliknuti botun
                    var url = $(this).attr('href');
                    var $button = $(this);
                    $.ajax({
                        url: url,
                        success: function (response) {
//                            parent() - prvi roditelj trenutnog html elementa
//                            ako pozovem dva puta parent() onda idem <a href> -> <button> -> <li>
                            $button.parent().parent().remove();
                        },
                        error: function (response) {
                            $button.parent().find('span').html(response.message);
                        }
                    });
                })
            }

            deleteTask();
        });

    </script>

{% endblock %}
